repos:
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.290
  hooks:
    - id: ruff
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      name: isort (python)
      args: [--filter-files]
- repo: local
  hooks:
    - id: no-absolute-imports
      name: Disallow absolute self-imports
      entry: python tests/scripts/check_imports.py routingpy routingpy
      language: system
      pass_filenames: false
